<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4" style="margin-top: 10vh">
    <div>
        <p class="text-center" style="font-size: 25px;
        font-weight: 500;">New Clients</p>
    </div>
    <p-card>
      <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="nameId">Name</label>
          <input pInputText type="email" id="nameId" class="form-control" />
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="emailId">Email</label>
          <input pInputText type="email" id="emailId" class="form-control" />
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="usernameId">User Name</label>
          <input pInputText type="email" id="usernameId" class="form-control" />
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="phoneId">Phone</label>
          <input pInputText type="email" id="phoneId" class="form-control" />
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="companyId">Company</label>
          <input pInputText type="email" id="companyId" class="form-control" />
        </div>
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a routerLink="/login">Login</a></p>
        </div>
        <button type="button" class="btn btn-primary btn-block mb-4">
            Sign Up
        </button>
      </form>
    </p-card>
  </div>
  <div class="col-md-4"></div>
</div>
