<div class="body-content">
    <div class="row">
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre"></div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre"></div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre"></div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre"></div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
        <div class="col-md-2">
            <img src="assets/images/image.jpg" class="rounded-thumbnail img-fluid galery-img" alt="Cinque Terre" >
        </div>
    </div>
    <hr>
</div>