<div class="row">
  <div class="col-md-2">SELECT SORT TYPE</div>
  <div class="col-md-2">GRID TYPE</div>
</div>

<div class="row">
  <div class="col-md-2">
    <p-dropdown
      [options]="sortOptions"
      [(ngModel)]="selectedSortOptions"
    ></p-dropdown>
  </div>
  <div class="col-md-2">
    <p-dropdown
      [options]="pageOptions"
      [(ngModel)]="selectedPageoptions"
    ></p-dropdown>
  </div>
  <div class="col-md-2">
    <button (click)="clear(dt)" class="btn btn-primary">Clear Sorting</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p-table
      #dt
      [value]="songs"
      dataKey="id"
      [rows]="10"
      [showCurrentPageReport]="true"
      responsiveLayout="scroll"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"
      styleClass="p-datatable-gridlines"
      [paginator]="selectedPageoptions"
      [sortMode]="selectedSortOptions"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      scrollHeight="450px"
      [globalFilterFields]="['artist', 'title']"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <button
            pButton
            label="Clear"
            class="p-button-outlined"
            icon="pi pi-filter-slash"
            (click)="clear(dt)"
          ></button>
          <span class="p-input-icon-right ml-auto" style="float: right">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              class="form-control"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5%">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th style="width: 5%">
            <div class="flex justify-content-center align-items-center">
              Play
            </div>
          </th>
          <th pSortableColumn="artist" style="width: 40%">
            <div class="flex justify-content-center align-items-center">
              Artist
              <p-columnFilter
                type="text"
                field="artist"
                display="menu"
              ></p-columnFilter>
              <p-sortIcon field="artist"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="title" style="width: 40%">
            <div class="flex justify-content-center align-items-center">
              Title
              <p-columnFilter
                type="text"
                field="title"
                display="menu"
              ></p-columnFilter>
              <p-sortIcon field="title"></p-sortIcon>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-song>
        <tr>
          <td>
            <p-tableCheckbox [value]="song"></p-tableCheckbox>
          </td>
          <td>
            <i class="pi pi-play play-icon" (click)="play(song)"></i>
          </td>
          <td>
            {{ song.artist }}
          </td>

          <td>
            {{ song.title }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No songs found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
